{% extends 'mainApp/wrapper.html' %}

{% block content %}
      
	<h2 class="text-info">{{articles.title}}</h2>
	<h6 class="text-info">Created: {{articles.date|date:"Y-m-d H:i:s"}}</h6>
	<p>{{articles.post|safe|linebreaks}}</p>

{% endblock %}