<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

   

    <title>Django</title>
    

    
    <link rel="import" href="cards.html">
    <script src="js/myscript.js"></script>
  </head>
  <body>

      <div class="jumbotron">
        <div class="container">
          <h1>{% include 'mainApp/includes/some_html.html' %}</h1>
          
            {% block content %}
      
            {% endblock %}
          
          <p>
            <a href="/" class="btn btn-success btn-lg">Home</a>
            <a href="/news" class="btn btn-primary btn-lg">News &raquo;</a>
            <a href="/contact" class="btn btn-info btn-lg">Contacts</a>
          </p>
        </div>
      </div>
      <div class="container">
        <img src="{% static 'mainApp/images/4.png' %}" class="img-thumbnail">
        <hr>
        &copy; All rights are reserved 2018
      </div>

  </body>
  </html>